.two-columns {
  display: flex;
}

.two-columns img {
  width: 100%;
}
.two-columns .img, .two-columns .text {
  width: 50%;
}
.two-columns .img {
  display: flex;
  align-items: center;
}

.featured figure {
  position: relative;
}
.featured figcaption {
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #fff;
  padding: .3rem .5rem;
  border-radius: 0 5px 0 0 ;
}
.featured h4, .featured p {
  margin: 0;
}
